<!DOCTYPE html>
<html>
<head>
<title>TextUtils</title>
</head>
<body>

{% comment %} <text>Welcome to text analyzer enter your text below</text> {% endcomment %}

<h1>This is a Text Analyzer. Enter Your Text Below</h1>
<form action = '/analyze' method = 'get'>
<textarea name="text" rows="4" cols="50" style="width: 801px; height: 193px;"></textarea>
<br>
<input type="checkbox" name="removepunc"> Remove Punctuations<br>
<input type="checkbox" name="capitalizefirst">UPPERCASE<br>
<input type="checkbox" name="newlineremover">Remove newlines<br>
<input type="checkbox" name="spaceremover">Remove Extra Spaces<br>
<input type="checkbox" name="charcounter">Char count<br>
<button type="submit">Analyze Text</button>
</body>
</html>